.gutter

.timeline
  .vertical-line
  .weeks><
  .projects
  .zoom-buttons
    %button.zoom-in +
    %button.zoom-out -

.details
  %div
    %button.new-project{:type => "button"} New Project

  %div.project-data
    %input.project-title{"data-binding" => "name"}
  %div

- content_for :js_state do
  :javascript
    var PROJECTS_JSON = #{@projects.to_json};

:javascript
  $(function() {
    Gantt.setTime(new Date("#{Time.now.rfc2822}"));

    var timelineParentElement = $(".timeline:first").get();
    Gantt.timeline = new Gantt.Views.TimelineView({
      projects: PROJECTS_JSON,
      el: timelineParentElement
    }).render();

  });
