#gutter

#timeline
  .vertical-line
  .weeks><
  .projects

#details
  %div
    %input{:type => "text", :name => "title"}
  %div
    %button#zoom-in +
    %button#zoom-out -

- content_for :js_state do
  :javascript
    var NOW = new Date("#{Time.now.rfc2822}");
