#gutter
  This is
  %br
  the gutter

#timeline
  .weeks
  .projects
  .vertical-line

#details
  These are the details

- content_for :js_state do
  :javascript
    var NOW = new Date("#{Time.now.rfc2822}");