#gutter

#timeline
  .vertical-line
  .weeks><
  .projects
  .zoom-buttons
    %button.zoom-in +
    %button.zoom-out -

#details
  %div
    %input{:type => "text", :name => "title"}
  %div


- content_for :js_state do
  :javascript
    var PROJECTS_JSON = #{@projects.to_json};



:javascript
  $(function() {
    Gantt.setTime(new Date("#{Time.now.rfc2822}"));
    Gantt.timeline = new Gantt.Views.TimelineView({
      projects: PROJECTS_JSON,
      el: document.getElementById("timeline")
    }).render();
  });
