.gutter

.timeline
  .vertical-line
  .weeks><
  .projects
  .zoom-buttons
    %button.zoom-in +
    %button.zoom-out -

.details
  %div
    %button.new-project{"data-triggers" => "new-project", :type => "button"} New Project

%script#template-project-details{:type => "text/template"}
  .project-details
    %input.project-title{"data-binding" => "name", "type" => "text"}

- content_for :js_state do
  :javascript
    var PROJECTS_JSON = #{@projects.to_json};

:javascript
  $(function() {
    // Gantt.setTime(new Date("#{Time.now.rfc2822}"));
    
    Gantt.trigger("init:details");
    Gantt.trigger("init:timeline");
  });
