/*@import "compass/reset";*/
/*@import "compass/css3";*/
@import "mixins";

$main-font-size: 20px;
$pretty-font: obliqua-1,obliqua-2,sans-serif;

$color-main-background: white;
$color-vertical-line: red;
$color-sidebars-background: #b8e0e0;
$color-sidebars-foreground: #ccc;

$color-project-background: #333;
$color-project-foreground: #ddd;
$color-project-border: darken($color-project-background, 10%);
$color-project-border-hover: red;
$color-project-background-hover: red;
$color-project-foreground-hover: white;

body,html {
  margin: 0;
  padding: 0;
  background-color: $color-main-background;
}
  
#outer {
  font-family: $pretty-font;
  font-size: $main-font-size;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#inner {
  @include display-box;
  @include box-orient(horizontal);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .gutter, .details {
    position: relative;
    top: 0;
    bottom: 0;
    color: $color-sidebars-foreground;
    background-color: $color-sidebars-background;
  }

  .gutter {
    padding-right: 30px;
    left: 0;
  }

  .details {
    right: 0;
    padding-top: 30px;
    width: 250px;
    > div {
      margin: 5px;
    }
  }

  .timeline {
    position: relative;
    top: 0;
    bottom: 0;
    height: 100%;
    @include box-flex(1);
    overflow-y: scroll;

    .zoom-buttons {
      position: absolute;
      bottom: 10px;
      left: 10px;
    }
  }
}

.vertical-line {
  border-left: 1px dotted $color-vertical-line;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 50;
}



.weeks {

  white-space: nowrap;

  .week {
    font-weight: bold;
    display: inline-block;
    width: 20%;
    text-align: center;
    z-index: 100;
    position: relative;
    text-transform: uppercase;
    margin: 0;
    padding: 5px 0;
    color: white;
    line-height: 20px;
    &.even { background-color: darken($color-vertical-line, 25%) }
    &.odd { background-color: darken($color-vertical-line, 20%) }
  }

}


.project {
  background-color: $color-project-background;
  color: $color-project-foreground;
  font-size: $main-font-size * 0.8;
  border: $color-project-border 2px solid;

  cursor: default;
  text-align: center;
  position: relative;
  display: block;
  padding: 3px;
  z-index: 75;
  margin-top: 3px;
  margin-left: 3px;
  box-sizing: border-box;
}

input[type=text] {
  width: 200px;
  font-size: $main-font-size;
  font-family: $pretty-font;
}
