$main-font-size: 20px;
$pretty-font: obliqua-1,obliqua-2,sans-serif;
body,html {
  margin: 0;
  padding: 0;
}

#outer {
  font-family: $pretty-font;
  font-size: $main-font-size;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#inner {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  #gutter, #details {
    position: relative;
    top: 0;
    bottom: 0;
    background-color: #ccffff;
  }

  #gutter {
    padding-right: 10px;
    left: 0;
  }
  #details {
    right: 0;
    padding-top: 30px;
    width: 250px;
    > div {
      margin: 5px;
    }
  }

  #timeline {
    position: relative;
    top: 0;
    bottom: 0;
    height: 100%;
    -webkit-box-flex: 1;
  }
}

.vertical-line {
  border-left: 1px dotted #003399;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 50;
}

.week {
  font-weight: bold;
  display: inline-block;
  width: 20%;
  text-align: center;
  z-index: 100;
  position: relative;
  text-transform: uppercase;
  margin: 0;
  padding: 5px 0;
  color: black;
  line-height: 20px;
  &.even { background-color: lighten(#5C5, 25%) }
  &.odd { background-color: lighten(#5C5, 20%) }
}

.project {
  cursor: default;
  text-align: center;
  background-color: #5C5;
  color: white;
  position: relative;
  display: block;
  padding: 3px;
  z-index: 75;
  font-size: $main-font-size * 0.8;
  margin-top: 3px;
  margin-left: 3px;
  border-radius: 30px;
  $border-color: darken(#5C5, 10%);
  border: $border-color 5px solid;

  &:hover {
    border-color: black;
    background-color: black;
  }
}

input[type=text] {
  margin-right: 5px;
  font-size: $main-font-size;
  font-family: $pretty-font;
}